@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body{
  overflow-x: hidden;
  background-color: #E1E5ED;
}

.button-shadow{
  filter: drop-shadow(#4b4c9b 0rem 13px 40px);
}
.button-shadow:hover{
  background-color: #4b4c9b;
  cursor: pointer;
  filter: drop-shadow(#5456ae 0rem 13px 40px);

}


