@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poiret One", sans-serif;
  font-weight: 800;
}

body{
  overflow: hidden;
}

.app{
  background: url('./assets/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}